*{

    margin: 0;
    
}

body{

    background-color: rgba(25,27,31,255)

}

header{

    height: 7.5vmax;
    background-color: rgba(36,39,44,255);
    height: 10vmax;
    border-bottom: solid;
    border-color: rgba(0,160,227,255);

}

.titulo{

    color: rgba(254,254,254,255);
    text-decoration: none;
    font-size: 5vmax;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    left: 15vmax;
    top: 1.5vmax;

}

.logo{

    position: absolute;
    width: 9vmax;
    height: 9vmax;
    left: 3vmax;

}


.tabla{

    background-color: rgba(36,39,44,255);
    position: absolute;
    top: 15vmax;
    width: 57vmax;
    text-align: center;
    left: 5vmax;
    height: 28vmax;
    border: solid;
    border-color: rgba(0,160,227,255);
    border-radius: 1vmin;

}

.tabla2{

    background-color: rgba(36,39,44,255);
    position: absolute;
    top: 15vmax;
    width: 25vmax;
    text-align: center;
    right: 5vmax;
    height: 32.5vmax;
    border: solid;
    border-color: rgba(0,160,227,255);
    border-radius: 1vmin;

}

.letra1{

    background-color: rgba(36,39,44,255);
    color: white;
    height: 3vmax;
    font-size: 1.8vmax;
    margin-top: 0.5vmax;

}

.letra2{

    color: white;
    height: 3vmax;
    font-size: 1.8vmax;
    margin-top: 0.5vmax;
    text-decoration: none;
    position: absolute;
    right: 24vmax;
    top: 0.5vmax;

}

.letra3{

    color: white;
    height: 3vmax;
    font-size: 1.8vmax;
    margin-top: 0.5vmax;
    text-decoration: none;
    position: absolute;
    right: 12vmax;
    top: 0.5vmax;

}

.linea{

    border-top: 0.1vmax solid #9d9fa1;
    margin-left: 0.5vmax;
    margin-right: 0.5vmax;
    margin-top: 0vmax;


}

.poster1{

    position: absolute;
    left: 4vmax;
    top: 5.6vmax;
    height: 20vmax;
    width: 15vmax;

}

.poster2{

    position: absolute;
    left: 21vmax;
    top: 5.6vmax;
    height: 20vmax;
    width: 15vmax;

}

.poster3{

    position: absolute;
    right: 4vmax;
    top: 5.6vmax;
    height: 20vmax;
    width: 15vmax;

}


.poster4{

    margin-top: 2vmax;
    margin-right: 0.2vmax;
    height: 25vmax;

}